.company-card {
    flex: 1 1 calc(50% - 5px);
    min-width: 400px;
    cursor: pointer;
    background-color: rgb(242, 242, 242);
}

.company-card-content {
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.company-text {
    display: flex;
    flex-direction: row;
    gap: 5px
}

@media (max-width: 768px) {
    .company-card {
        flex: 1;
        /* Switch to one item per row on smaller screens */
    }
}