.registration-wrapper {
    text-align: center;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
    margin: 0 auto;
}

.registration-title {
    font-size: 32px;
}