.company-layout {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.company-content {
    flex: 1;
    padding: 0;
    /* Take up the remaining space */
}