.list-style {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.list-style li {
    flex: 1 0 21%;
}

@media (max-width: 768px) {
    .list-style {
        justify-content: start; /* Stack sidebar above main content */
    }
}
  