.sidebar {
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    min-width: 200px;
    border-right: 1px solid var(--border-color);
    background-color: var(--main-back-color);
}

.sidebar-content {
    width: 100%;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-link {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
}

.nav-link:hover {
    color: #007bff;
    border-color: #007bff;
    border: 3px solid var(#007bff);
}

.nav-link.active {
    font-weight: bold;
    color: white;
    border: 2px solid #007bff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
}

.nav-link.focus {
    font-weight: bold;
    color: #4398f2;
    border-bottom: 2px solid #007bff;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        /* Sidebar takes full width on mobile */
        border-right: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
    }

    .sidebar-nav {
        flex-direction: row;
        gap: 10px;
    }
}