.sidebar {
    width: 200px;
    padding: 20px;
    border-right: 1px solid white;
}

.sidebar-list {
    list-style: none;
    padding: 0;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%; /* Sidebar takes full width on mobile */
        border-right: none;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
    }

    li {
        display: inline-block;
    }
}