.company-card-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
}

.company-title-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .company-card-list {
        justify-content: start;
        flex-direction: column;
        /* Stack sidebar above main content */
    }
}