.list-style {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.list-style li {
    width: 100%;

}

.company-title-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .list-style {
        justify-content: start;
        /* Stack sidebar above main content */
    }
}