.tab-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 5px;
    height: 50px;
}

.tab-button {
    border: none;
    cursor: pointer;
}

.tab-button.active {
    border-bottom: 2px solid blue;
}

.tab-content {
    background-color: var(--main-back-color);
    padding: 20px;
    min-height: 100vh;
}