.project-header {
    height: 80px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    background-color: var(--main-back-color);
    z-index: 50;
}

.profile-icons {
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}